*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Inter,sans-serif;
background:#f7f3ed;
color:#433936;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

.background{
position:fixed;
inset:0;
background:radial-gradient(circle at top,#fffefc,#f7f3ed 70%);
z-index:-1;
}

section{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.content{
text-align:center;
}

.small{
letter-spacing:10px;
font-size:13px;
opacity:.5;
margin-bottom:15px;
}

h1{
font-family:"Cormorant Garamond",serif;
font-size:90px;
margin-bottom:20px;
}

.subtitle{
font-size:20px;
margin-bottom:10px;
}

.light{
opacity:.6;
margin-bottom:40px;
}

button{
padding:15px 40px;
border:none;
border-radius:40px;
background:#b87d8d;
color:white;
cursor:pointer;
}

.mail{
position:relative;
width:320px;
height:220px;
margin:auto;
}

.back{
position:absolute;
bottom:0;
width:320px;
height:170px;
background:#efe2d3;
}

.front{
position:absolute;
bottom:0;
width:320px;
height:170px;
background:#efe2d3;
clip-path:polygon(0 0,50% 55%,100% 0,100% 100%,0 100%);
}

.flap{
position:absolute;
border-left:160px solid transparent;
border-right:160px solid transparent;
border-top:100px solid #e2cfbb;
}

.seal{

position:absolute;

left:50%;

top:80px;

transform:translateX(-50%);

width:60px;

height:60px;

border-radius:50%;

background:#b87d8d;

color:white;

display:flex;

justify-content:center;

align-items:center;

font-size:11px;

font-weight:bold;

}
